spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  # React 정적 리소스 설정
  web:
    resources:
      static-locations: classpath:/static/
      add-mappings: true

  # MVC 설정
  mvc:
    throw-exception-if-no-handler-found: true
    static-path-pattern: /static/**

# Swagger 설정
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
    disable-swagger-default-url: true
    try-it-out-enabled: true
  show-actuator: false
